body {
    background-color: #c1fdff;
}

h1 {
    font-family: Calibri, sans-serif;
    text-align: center;
}

p {
    font-family: Calibri, sans-serif;
}

#header2 {
    font-family: Calibri, sans-serif;
    text-align: center;
    color: #808080;
}

#header3 {
    font-family: Calibri, sans-serif;
    text-align: center;
    color: #bf2424;
}

.right {
    text-align: right;
}
